<div class="form-group">
  <label for="alg">Board geeration algorithm: </label>
  <select id="alg" [(ngModel)]="selectedAlgorithm" (change)="selectBoardgenAlgorithm(selectedAlgorithm)">
    <option *ngFor="let algorithm of getAlgorithmEnumKeys()" [value]="algorithm">{{ algorithm }}</option>
  </select>
</div>

<div class="form-group">
  <label for="adjacency">Adjacency type (this is not as interesting as I hoped): </label>
  <select id="adjacency" [(ngModel)]="selectedAdjacency" (change)="selectAdjacencyType(selectedAdjacency)">
    <option *ngFor="let adjacency of getAdjacencyEnumKeys()" [value]="adjacency">{{ adjacency }}</option>
  </select>
</div>

<div class="form-group">
  <form #mineDensityForm="ngForm">
    <label for="mineDensity">Mines per 100 (standard is 10-20, high values may crash the window): </label>
    <input id="mineDensity" name="mineDensity" type="text" 
    [(ngModel)]="mineDensity" 
    #mineDensityField="ngModel" 
    (blur)="validateMineDensity(mineDensityField.value)">
    <div *ngIf="mineDensityError" class="error-message">
      Mine density should be a number between 0 and 100. 
    </div>
  </form>
</div>

<div class="form-group">
  <label for="size">Board size: </label>
  <select id="size" [(ngModel)]="boardSize" (change)="selectBoardSize(boardSize)">
    <option *ngFor="let size of getBoardSizeEnumKeys()" [value]="size">{{ size }}</option>
  </select>
</div>

<div class="form-group">
  <button (click)="toggleMode()">
      Toggle debug mode: {{ currentMode }}
  </button>
</div>
