.grid {
    border-collapse: collapse;
  }
  
  .cell {
    width: 22px;
    height: 22px;
    display: inline-block;
    border: 1px solid black;
    vertical-align: top;
    box-sizing: border-box;
  }
