span {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid black;
    vertical-align: top;
    font-family: monospace;
    text-align: center;
    line-height: 1.5;
    user-select: none;
  }
  
  .revealed {
    background-color: lightgray;
  }
  
  .mine {
    background-color: red;
  }

.row {
  height: 21.6px;
}
  