.row {
  height: 21.6px;
}

span {
  display: inline-block;
  vertical-align: top;
  font-family: monospace;
  text-align: center;
  line-height: 1.5;
  user-select: none;

  &:not(.revealed) {
    background: #c4c4c4;
    border: 2px outset #e3e3e3;
    // reduce width & height to make room for bigger border
    // total width/height stays the same (22px)
    width: 18px;
    height: 18px;

    // put it above non-revealed cells
    position: relative;
    z-index: 1;
  }

  &.revealed {
    background: white;
    width: 22px;
    height: 22px;
    // remove border & use outline so the borders don't double up on each other
    // outline doesn't increase the width of an element so it never doubles up
    outline: 1px solid rgb(120, 120, 120);
  }
  &.mine {
    background-color: red;
  }

  &[data-count="1"] {
    color: #0b0bfa;
  }

  &[data-count="2"] {
    color: #007b00;
  }

  &[data-count="3"] {
    color: #f00;
  }

  &[data-count="4"] {
    color: #00007b;
  }

  &[data-count="5"] {
    color: #7b0000;
  }

  &[data-count="6"] {
    color: #007b7b;
  }

  &[data-count="7"] {
    color: #0b0b0b;
  }

  &[data-count="8"] {
    color: #7b7b7b;
  }
}
